<div id="page_admin" class="row view_content">

	<div class="col-md-2">
		

		<ul id="admin_nav" class="nav nav-pills nav-stacked">
 			<li><a href="#/admin?module=study_areas" ng-click="page='study_areas'">Study Areas</a></li>
  			<li><a href="#/admin?module=users" ng-click="page='users'">Users</a></li>
  			<li><a href="#/admin?module=questions">Question Sets</a></li>

 		</ul>


	</div>


	<div class="col-md-9">
		<ng-include src="pages[page]"></ng-include>
	</div>

	<div class="col-md-1"></div>
</div>