DirectoryIndex index.php

RewriteEngine on
RewriteBase /tps/api
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|public|favicon\.ico|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]

#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|public|favicon\.ico|robots\.txt)
#sRewriteRule ^(.*)$ /index.php/$1 [L]